.top_logo{
    position: relative;
    width: 65px;
    height:65px;
    left: 130px;
}
.top_number{
    font-size: 32px;
    position: relative;
    left: 220px;
    top: -60px;
}
.home_title{
    padding: 15px 0px 0px 15px;
}
.home_container{
    .part_one{
        height: 120px;
        background-color: white;
        margin: 10px;
        display: flex;
        .inner_div {
            width: 450px;
            height: 120px;
            border: 1px solid #f0f2f5;
            padding: 15px;
            .home_logo1{
                .top_logo;
                background-image: url('/assets/images/home_logo1.png');
            }
            .number_1{
                .top_number;
                color: #6c7df1;
            }
            .home_logo2{
                .top_logo;
                background-image: url('/assets/images/home_logo2.png');
            }
            .number_2{
                .top_number;
                color: #21c1f5;
            }
            .home_logo3{
                .top_logo;
                background-image: url('/assets/images/home_logo3.png');
            }
            .number_3{
                .top_number;
                color: #58cfb3;
            }
            .home_logo4{
                .top_logo;
                background-image: url('/assets/images/home_logo4.png');
            }
            .number_4{
                .top_number;
                color: #15e0e7;
            }
        }
    }
    .part_two{
        height: 150px;
        background-color: white;
        margin: 10px;
        display: flex;
        flex-direction: row;
        .equipment_info{
            width: 1354px;
            border:1px solid beige;
            display: flex;
            flex-direction: column;
            .inner_div{
                display:flex;
                flex-direction: row;
                .inner_Info{
                    display:flex;
                    margin: 15px 0px 20px 20px;
                    .info{
                        padding-top: 5px;
                        padding-left: 5px;
                        .num{
                            font-size: 18px;
                            font-weight: 600;
                            color: #1890ff;
                        }
                    }
                }
            }
        }
        .online_info{
            .time {
                display: flex;
                flex-direction: row;
                .ant-statistic{
                    padding: 10px 30px 0px 30px;
                }
            }
        }

    }
    .part_three{
        height: 300px;
        background-color: white;
        margin: 10px;
        .home_content{
            display: flex;
            .user_charts{
                display: flex;
                .chart-content2{
                    padding-left: 50px;
                }
            }
            .user_info{
                width: 300px;
                height: 300px;
                margin-left: 34px;
                border-left: 1px solid #f0f2f5;
                .content{
                    padding:15px 60px;
                    .detail{
                        padding:10px 0;
                        span{
                            color:#1890ff;
                            font-size: 18px;
                            font-weight: 600;
                        }
                    }

                }
            }
        }

    }
    .part_four{
        height: 250px;
        background-color: white;
        margin: 10px;

    }
}